<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity
    Name="1a1e8060-a03c-449c-931c-6bceec16e82f"
    Version="1.0.0.0"
    Publisher="CN=guido" />

  <Properties>
    <DisplayName>SQLite3js</DisplayName>
    <Description>SQLite3js</Description>
    <PublisherDisplayName>guido</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Applications>
    <Application 
      Id="App"
      StartPage="default.html">

      <VisualElements
        DisplayName="SQLite3js"
        Logo="images\logo.png"
        SmallLogo="images\smalllogo.png"
        Description="SQLite3js"
        ForegroundText="light"
        BackgroundColor="#000000">

        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="images\splashscreen.png" />

      </VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>

</Package>
