#ifdef APSTUDIO_INVOKED
  #error this file cannot be edited in MSDEV. It should not be edited anyway.
#else 

// Include a "component_manifest.h" file the project that contains this bundle_manifest.rc file.
// If you place the "bundle_manifest.h" not in your projects root, you need to specify "Additional Include Directories" for this .rc file.
#include "component_manifest.h"

#ifndef COMPONENT_NAME
  #error You forgot to #define COMPONENT_NAME in your component_manifest.h
#endif

#ifndef COMPONENT_DESCRIPTION
  #error You forgot to #define COMPONENT_DESCRIPTION in your component_manifest.h
#endif

#ifndef COMPONENT_VERSION_MAJOR
  #error You forgot to #define COMPONENT_VERSION_MAJOR in your component_manifest.h
#endif

#ifndef COMPONENT_VERSION_MINOR
  #error You forgot to #define COMPONENT_VERSION_MINOR in your component_manifest.h
#endif

#ifndef COMPONENT_VERSION_BUILD
  #define COMPONENT_VERSION_BUILD 0
#endif

#ifndef COMPONENT_VERSION_REVISION
  #define COMPONENT_VERSION_REVISION 0
#endif

#ifndef COMPONENT_VERSION_STRING
  #define COMPONENT_VERSION_STRING VERSION_STR(COMPONENT_VERSION_MAJOR,COMPONENT_VERSION_MINOR,COMPONENT_VERSION_BUILD,COMPONENT_VERSION_REVISION)
#endif

#ifndef COMPONENT_VERSION
  #define COMPONENT_VERSION COMPONENT_VERSION_MAJOR,COMPONENT_VERSION_MINOR,0,COMPONENT_VERSION_BUILD
#endif 

#ifndef COMPONENT_ORIGINAL_FILENAME
  #define COMPONENT_ORIGINAL_FILENAME COMPONENT_NAME ".dll"
#endif

#include "winres.h"

#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
#endif //_WIN32

VS_VERSION_INFO VERSIONINFO
	FILEVERSION COMPONENT_VERSION
#ifdef PRODUCT_VERSION
	PRODUCTVERSION PRODUCT_VERSION
#endif
	FILEFLAGSMASK 0x17L
#ifdef _DEBUG
	FILEFLAGS VS_FF_DEBUG
#else
	FILEFLAGS 0x0L
#endif
	FILEOS VOS_NT_WINDOWS32
	FILETYPE VFT_DLL
	FILESUBTYPE 0x0L
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904b0"
		BEGIN
			// If you hit an error here, define COMPONENT_DESCRIPTION in your component_manifest.h
			VALUE "FileDescription", COMPONENT_DESCRIPTION
			VALUE "FileVersion", COMPONENT_VERSION_STRING
			// If you hit an error here, define COMPONENT_NAME in your component_manifest.h
			VALUE "InternalName", COMPONENT_NAME
			VALUE "OriginalFilename", COMPONENT_ORIGINAL_FILENAME
            
			VALUE "CompanyName", COMPONENT_COMPANY_NAME
			VALUE "LegalCopyright", COMPONENT_COPYRIGHT
#ifdef PRODUCT_NAME
			VALUE "ProductName", PRODUCT_NAME
			VALUE "ProductVersion", PRODUCT_VERSION_STRING
#endif
			VALUE "Internet", "https://doo.net"
#ifdef COMPONENT_AUTHOR
			VALUE "Author", COMPONENT_AUTHOR
#endif
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x409, 1200
	END
END
#endif